.topic-thumbnail {
  float: left;
  padding-right: 15px;
  .thumbnail {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.category-blog .topic-list{
  .posters, .posts, .views {
    display: none;
  }
  .main-link .title {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
  }
}
